<div class="container mx-auto">
  <p>
    Page: Home#index
  </p>
  <h1 class="text-6xl mb-6">Welcome to RoR and Mandrill Test!</h1>
  <p class="text-teal-500">Find me in app/views/home/index.html.erb</p>
</div>
